<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media-body">
    <div><%= item.name %></div>
    <div><%= item.user.name %></div>
    <div><%= "#{item.days_left} days until this item is deleted." %></div>
    <%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
  </div>
<% end %>
